{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}
{% block content %}

    <div class="container">
	{% include 'posts/_posts.html' %}
	<h4 id="comments">Comments</h4>
	{% if current_user.can(Permission.COMMENT) %}
		<div class="comment-form">
			<form role="form" method="POST" data-toggle="validator">
				<div class="form-group">
					<textarea class="form-control" name="body" required></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	{% endif %}
	{% include 'posts/_comments.html' %}
    </div>
{% endblock %}