{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
	<div class="container">
		<div class="page-header">
			<h1><h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1></h1>
		</div>
		<div class="row">
			<div class="col-md-12">
			{{current_user.can(Permission.WRITE_ARTICLES)}}
				{% if current_user.can(Permission.WRITE_ARTICLES) %}

					<form role="form" method="POST" data-toggle="validator">
						<div class="form-group">
							<label for="inputName" class="control-label">About Me</label>
							<textarea class="form-control" name="body" required></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>

				{% endif %}



				<div class="post-tabs">
					<ul class="nav nav-tabs">
						<li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
						{% if current_user.is_authenticated %}
							<li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
						{% endif %}
					</ul>
				    {% include 'posts/_posts.html' %}
				</div>


				<div class="pagination">
					{{ macros.pagination_widget(pagination, '.index') }}
				</div>


			</div>
		</div>
	</div>
{% endblock %}
